.code {
	background-color: #e3e3e3;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 20px;

	&:hover .code-copy__button {
		visibility: visible;
	}

	.code-copy__button {
		visibility: hidden;
		transition: all ease;

		.code-isCopied {
			display: flex;
			align-items: center;
			text-transform: none;
			text-align: center;

			.MuiSvgIcon-root {
				margin-left: 5px;
				height: 20px;
				width: 20px;
			}
		}
	}

	.code-fragment {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
			DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
		font-size: 15px;
	}
}
