$dialog-font-color: #fff;

.MuiPaper-root {
	color: $dialog-font-color !important;

	.MuiButton-root {
		color: $dialog-font-color !important;
	}

	.MuiIconButton-root {
		color: $dialog-font-color !important;
	}
}
